name: CI_WITH_GITHUB

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:
    branches: [ "master" ]
    
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login in to docker hub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/food-service:latest .
            
      - name: Build & Push Docker Images
        run: | 
          docker tag ${{ secrets.DOCKER_USERNAME }}/food-service:latest ${{ secrets.DOCKER_USERNAME }}/food-service:${{ github.run_id }}
          docker push ${{ secrets.DOCKER_USERNAME }}/food-service:${{ github.run_id }}
          
